{% extends 'base.html' %}

{% block content %}
<div class="container mt-3 ">
    <h3 class=" text-secondary mt-5"> Venez reserver vos chambres pour vos vaccances chez Kabrel's Agency</h3>
    <div class="row">
        <div class="col-md-4 mt-3">
            <div class="card shadow " style="width: 18rem;">
                <img src="https://tse2.mm.bing.net/th/id/OIP.NdUgNxX2pMwYlgtp-LB2bAHaF8?cb=iwp1&rs=1&pid=ImgDetMain" class="card-img-top custom-img" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HOTEL HILTON</h5>
                  <p class="card-text">Situe au coueur de yaounde,Hilton hotel se classe parmi les meilleurs au cameroun</p>
                  <a href="#" class="btn btn-warning">Visiter</a>
                  <a href="#" class="btn btn-success">Reserver</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow " style="width: 18rem;">
                <img src="https://th.bing.com/th/id/R.932d4838f5713bb5f78f8fa94f146364?rik=njET%2fxllKAJ2tw&pid=ImgRaw&r=0" class="card-img-top custom-img" alt="...">
                <div class="card-body">
                  <h5 class="card-title">CK HOTEL</h5>
                  <p class="card-text">En plein coeur de Douala , CK hotel sait attire ses visiteur avec son panorama Europeen </p>
                  <a href="#" class="btn btn-warning">Visiter</a>
                  <a href="#" class="btn btn-success">Reserver</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card shadow " style="width: 18rem;">
                <img src="https://th.bing.com/th/id/R.9e7bf00dd72d8687b3ec0787e371f47d?rik=krmTTJZvfUdBNA&riu=http%3a%2f%2fmedia-cdn.tripadvisor.com%2fmedia%2fphoto-s%2f02%2f67%2fca%2f7d%2fswimming-pool.jpg&ehk=KbOWH17C8mt117AOpRBpsCZZKXiOUHxymuKkkT4Pr1k%3d&risl=&pid=ImgRaw&r=0" class="card-img-top custom-img" alt="...">
                <div class="card-body">
                  <h5 class="card-title">HOTEL MONT FEBE</h5>
                  <p class="card-text">Visiter l'hotel MONT FEBE HOTEL sur les colines de Yaoundes avec son panorame Europeen .</p>
                  <a href="{% url 'hotel' %}" class="btn btn-warning">Visiter</a>
                  <a href="#" class="btn btn-success">Reserver</a>
                </div>
              </div>
        </div>
    </div>
</div>

<style>
  .custom-img {
    height: 200px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Ajuste l'image pour remplir l'espace sans déformation */
  }
</style>

{% endblock %}