{% extends 'home.html' %}

{% block content %}
<div class="container">
  <!-- Premier bloc de cartes -->
  <div class="row mt-5">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max500/352854025.jpg?k=514b210c607c62ff632e1ef05641fdabf7aec0ddcfac39cda86b40936fdbca2d&o=" class="card-img-top custom-img" alt="Image 1">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/402698923.jpg?k=4b5658b92c1adb33a645eb0b352e1fa621b7494842c715390cc310fc01ed40c0&o=&hp=1" class="card-img-top custom-img" alt="Image 2">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/401809761.jpg?k=65c334be4ed6fded828078b9e52c4a2bbe43d1eac43723a82bf3c88fc6fdef3d&o=&hp=1" class="card-img-top custom-img" alt="Image 3">
        </div>
      </div>
    </div>
  </div>

  <!-- Deuxième bloc de cartes -->
  <div class="row mt-2">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/352857466.jpg?k=2aa5b6e1593cb933d65730b27f12f4057978556993ba58ca6786449c409290da&o=&hp=1" class="card-img-top custom-img" alt="Image 4">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/402701244.jpg?k=99ce0ae5353ff990330eca01723e4f7d374222a4c80b2db6834dc87a779b901a&o=&hp=1" class="card-img-top custom-img" alt="Image 5">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/402700219.jpg?k=1fc84890ed654c7a291e50463bd4df1ad6e440d59bfc855271efa241b384188b&o=&hp=1" class="card-img-top custom-img" alt="Image 6">
        </div>
      </div>
    </div>
  </div>

  <!-- Troisième bloc de cartes -->
  <div class="row mt-2">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/402700219.jpg?k=1fc84890ed654c7a291e50463bd4df1ad6e440d59bfc855271efa241b384188b&o=&hp=1" class="card-img-top custom-img" alt="Image 7">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/401817878.jpg?k=6b726a38c85cca7c9f05872da3a8152170d602f9e427ce7fa1642a4253987749&o=&hp=1" class="card-img-top custom-img" alt="Image 8">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/401804902.jpg?k=da4e0f232909aa396e3ad37cc0e91d41d9d9f9857b3d2c1158ec83b95afbe5ae&o=&hp=1" class="card-img-top custom-img" alt="Image 9">
        </div>
      </div>
    </div>
  </div>

  <!-- Quatrième bloc de cartes -->
  <div class="row mt-2">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max200/352856328.jpg?k=5ad2cb9194298dcfe19947c2ffa847e581d5c6e29e5e0b9a582f7460d7d9005b&o=&hp=1" class="card-img-top custom-img" alt="Image 10">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/401792838.jpg?k=54fb7831f3b8f33cd781f653a0fd3489d0db98f3696340d4657aea191d74db5f&o=&hp=1" class="card-img-top custom-img" alt="Image 11">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <img src="https://cf.bstatic.com/xdata/images/hotel/max200/352854145.jpg?k=ed25fab01b844b6e455b8b9f39ac6739654788eb613c034c7f6041ceebd6a4a0&o=&hp=1" class="card-img-top custom-img" alt="Image 12">
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Style pour rendre les images uniformes -->
<style>
  .custom-img {
    height: 200px; /* Hauteur fixe pour toutes les images */
    object-fit: cover; /* Ajuste l'image pour remplir l'espace sans déformation */
  }
</style>

{% endblock %}
