{% extends 'base.html' %}

{% block content %}
<div class="container ">
    <div class="row mt-5 mb-5">
        <div class="col-lg-6">
            <h3>Créer votre Compte</h3>
            <form action="" method="POST" class="mt-3">
                {% csrf_token %}
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input type="text" class="form-control" id="name" name="name" required>
                </div>
                <div class="form-group">
                    <label for="prename">Prénom</label>
                    <input type="text" class="form-control" id="prename" name="prename" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirmez le mot de passe</label>
                    <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                </div>
                <button type="submit" class="btn btn-success">Créer un compte</button>
            </form>
        </div>
        <div class="col-lg-6 mt-3">
            <img src="https://th.bing.com/th/id/R.9d82f52f30cba1a55df1f291b7c8f295?rik=6NepglEpUIeMUA&pid=ImgRaw&r=0" alt="" style="height: 400px; width: 500px;">
        </div>
    </div>
</div>
{% endblock %}