{% extends 'base.html' %}

{% block content %}
<div class="container ">
    <div class="row mt-5 mb-5">
        <div class="col-lg-6">
            <h3>Creer votre Compte</h3>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Nom </label>
                  <input type="text" class="form-control" id="name" aria-describedby="nameHelp">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Prenom </label>
                    <input type="text" class="form-control" id="prename" aria-describedby="nameHelp">
                </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Repetez votre password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                  </div>
                <div class="form-group form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-success">Creer un compte</button>
                <button type="submit" class="btn btn-info">Modifier</button>
              </form>
        </div>
        <div class="col-lg-6 mt-3">
            <img src="https://th.bing.com/th/id/R.9d82f52f30cba1a55df1f291b7c8f295?rik=6NepglEpUIeMUA&pid=ImgRaw&r=0" alt=""  style="height: 400px; width: 500px;">

        </div>
    </div>
</div>

{% endblock %}